<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">

	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO"></id>
		<result property="boardType" column="BOARD_TYPE"></result>
		<result property="boardTitle" column="BOARD_TITLE"></result>
		<result property="boardContent" column="BOARD_CONTENT"></result>
		<result property="emplId" column="EMPL_ID"></result>
		<result property="boardDate" column="BOARD_DATE"></result>
		<result property="boardHits" column="BOARD_HITS"></result>
	</resultMap>
	
	<!-- 마이바티스에 줄이려고 써둠 parameterType -->
	<!-- id값 storelogic값과 같아야함 -->
	<!-- 위에 타입, 아이디 중 적어줌 -->
	<!-- select는 resultMap필요함  -->
	
	<!-- 게시판 메인 페이지 -->
	<select id="selectAllBoard" resultMap="boardResultMap">
		SELECT *
		FROM BOARD_TBL
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 게시판 메인 페이징 -->
	<select id="selectPage" resultType="_int"> <!-- 결과값을 int로 받겠다, 갯수,평균 등 -->
		SELECT COUNT(*)
		FROM BOARD_TBL
	</select>
	
	<!-- 게시글 상세조회 화면 -->
	<select id="selectDetailBoard" resultMap="boardResultMap">
		SELECT *
		FROM BOARD_TBL
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertWriteBorad" parameterType="Board">
		INSERT INTO BOARD_TBL(BOARD_NO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT, EMPL_ID, BOARD_DATE)
		VALUES (BOARD_NO.NEXTVAL, #{boardType}, #{boardTitle}, #{boardContent}, #{emplId}, SYSDATE)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD_TBL
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}
<!-- 		EMPL_ID = #{emplId} 업데이트문 살리기위해 임의로 컬럼하나 update하게 해놓은것 -->
<!-- 		<if test='boardTitle != "" and boardTitle != null'>  -->
<!--            , EMPL_PROFILE = #{emplProfile} -->
<!--         </if> -->
<!--         <if test='boardContent != "" and boardContent != null '> -->
<!--            , EMPL_PW = #{emplPw} -->
<!--         </if> -->
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 화면 -->
	<delete id="deleteBoard">
		DELETE
		FROM BOARD_TBL
		WHERE BOARD_NO =#{boardNo}
	</delete>
	
	<!-- 게시판 검색 화면 -->
	<select id="selectSearchBoard" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE
		<if test="searchCondition.toString() =='boardTitle'">
			 BOARD_TITLE LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition.toString() =='boardContent'">
			BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition.toString() =='emplId'">
			EMPL_ID LIKE '%' || #{searchValue} || '%'
		</if>
		ORDER BY BOARD_NO DESC
	</select>

	<!-- 게시판 검색 페이징 -->
	<select id="selectSearchPage" resultType="_int"> <!-- 갯수만 알려줌 -->
		SELECT COUNT(*) FROM BOARD_TBL WHERE
		<if test="searchCondition.toString() =='boardTitle'"> 
			 BOARD_TITLE LIKE '%' || #{searchValue} || '%' <!-- 앞뒤로 유사한것들을 가져와라 -->
		</if>
		<if test="searchCondition.toString() =='boardContent'">
			BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchCondition.toString() =='emplId'">
			EMPL_ID LIKE '%' || #{searchValue} || '%'
		</if>
	</select>

</mapper>